<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zainab - Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!--<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/collapsible.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
    <nav>
            <img class="userPic" src="/images/profile_icon.jpeg" alt="profile picture">
            <div class="userDetails">
                <h1>Zainab</h1>
                <h1>Zaheer</h1>
                <span>Software Developer</span>
            </div>
            <div class="home">
                <a href="/"><ion-icon name="school-outline"></ion-icon></a>
            </div>
            <div class="projects">
                <a href="projects"><ion-icon name="folder-open-outline"></ion-icon></a>
            </div>
            <div class="contact">
                <a href="contact"><ion-icon name="mail-outline"></ion-icon></a>
            </div>
        </nav>
    This. is my contacts page.
    <div class="experience employment">
            <button class="collapsible">
                <div class="employ-head">
                    <i class='fab fa-hackerrank' style='font-size:48px;color:green'></i>
                    <span><a href="https://hackerrank.com/zainabz1995" target="_blank">Hackerrank</a></span>
                </div>
            </button>
            <button class="collapsible">
                <div class="employ-head">
                    <i class="fab fa-linkedin-square" style="font-size:48px;color:blue"></i>
                    <a href="https://linkedin.com/in/zainabz1995" target="_blank"><span>LinkedIn</span></a>
                </div>
            </button>
            <button class="collapsible">
                <div class="employ-head">
                    <i class="fab fa-twitter" style="font-size:48px;color:skyblue"></i>
                    <span><a href="https://twitter.com/zainabz1995" target="_blank">Twitter</a></span>
                </div>
            </button>
    </div>
    <script src="/js/collapsible.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>