<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zainab Zaheer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!--<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/collapsible.css">
</head>
<body>
    <div class="container">
        <nav>
            <img class="userPic" src="/images/profile_icon.jpeg" alt="profile picture">
            <div class="userDetails">
                <h1>Zainab</h1>
                <h1>Zaheer</h1>
                <span>Software Developer</span>
            </div>
            <div class="home">
                <a href="/"><ion-icon name="school-outline"></ion-icon></a>
            </div>
            <div class="projects">
                <a href="projects"><ion-icon name="folder-open-outline"></ion-icon></a>
            </div>
            <div class="contact">
                <a href="contact"><ion-icon name="mail-outline"></ion-icon></a>
            </div>
        </nav>
        <div class="experience">
          <div class="employment">
            <button class="collapsible"><div class="employ-head"><ion-icon name="briefcase-outline"></ion-icon><span>Employment</span></div><div class="plus"><ion-icon name="add-circle"></ion-icon></div></button>
            <div class="content">
              <table>
                <tr>
                  <td rowspan="2">Mar 2021 <br> <b>Nov 2021</b></td>
                  <td> <ion-icon name="business"></ion-icon> <b>Amazon </b></td>
                  <td> <ion-icon name="person"></ion-icon> Software Development Engineer Intern</td>
                </tr>
                <tr>
                  <td colspan="2">Key skills developed include Java, C++, Python scripting and explored AWS.</td>
                </tr>
                <tr>
                  <td rowspan="2">Jan 2021 <br> <b>Mar 2021</b></td>
                  <td> <ion-icon name="business"></ion-icon> Truminds Software Systems</td>
                  <td> <ion-icon name="person"></ion-icon> Software Engineer</td>
                </tr>
                <tr>
                  <td colspan="2">Worked on ExpressJs and Loopback framework as Backend Developer.</td>
                </tr>
                <tr>
                  <td rowspan="2">Sep 2018 <br> <b>May 2020</b></td>
                  <td> <ion-icon name="business"></ion-icon> Miconts (incubated startup at STMicroelectronics)</td>
                  <td> <ion-icon name="person"></ion-icon> Software Engineer for IOT Applications</td>
                </tr>
                <tr>
                  <td colspan="2">Key skills developed include Android Development, Firmware Development</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="education">
            <button class="collapsible"><div class="employ-head"><ion-icon name="medal-outline"></ion-icon><span>Education</span></div></button>
            <div class="content">
              <table>
                <tr>
                  <td rowspan="2">2016 <br> 2018</td>
                  <td> <ion-icon name="business"></ion-icon> Masters of Technology</td>
                  <td> <ion-icon name="person"></ion-icon> Software Engineering</td>
                </tr>
                <tr>
                  <td colspan="2">Key skills developed include Java, C++, Python scripting and explored AWS.</td>
                </tr>
                <tr>
                  <td rowspan="2">2012<br>2016</td>
                  <td> <ion-icon name="business"></ion-icon> Bachelors of Technology</td>
                  <td> <ion-icon name="person"></ion-icon> Computer Engineering</td>
                </tr>
                <tr>
                  <td colspan="2">Worked on ExpressJs and Loopback framework as Backend Developer.</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="skills">
            <button class="collapsible"><div class="employ-head"><ion-icon name="flash-outline"></ion-icon><span>Skills</span></div></button>
            <div class="content">
              <div class="graph">
                Programming Skills
              </div>
              <div class="graph">
                Technology Used
              </div>
            </div>
          </div>        
        </div>
    </div>
<script src="/js/collapsible.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!--<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> -->
</body>
</html>