<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zainab - Projects </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!--<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/collapsible.css">
</head>
<body>
    <div class="container">
    <nav>
            <img class="userPic" src="/images/profile_icon.jpeg" alt="profile picture">
            <div class="userDetails">
                <h1>Zainab</h1>
                <h1>Zaheer</h1>
                <span>Software Developer</span>
            </div>
            <div class="home">
                <a href="/"><ion-icon name="school-outline"></ion-icon></a>
            </div>
            <div class="projects">
                <a href="projects"><ion-icon name="folder-open-outline"></ion-icon></a>
            </div>
            <div class="contact">
                <a href="contact"><ion-icon name="mail-outline"></ion-icon></a>
            </div>
        </nav>
          <div class="experience employment">
            <button class="collapsible">
                <div class="employ-head">
                    <ion-icon name="document-text-outline"></ion-icon>
                    <span>Publications</span>
                </div>
            </button>
            <div class="content">
              <table>
                <tr>
                  <td rowspan="2">2016</td>
                  <td>IEEE</td>
                  <td>Eye Movement based Human Computer Interaction</td>
                </tr>
                <tr>
                  <td colspan="2">Key skills developed include Java, C++, Python scripting and explored AWS.</td>
                </tr>
                <tr>
                  <td rowspan="2">2017</td>
                  <td>IEEE</td>
                  <td>Aerial Surveillance System using UAV</td>
                </tr>
                <tr>
                  <td colspan="2">Worked on ExpressJs and Loopback framework as Backend Developer.</td>
                </tr>
                <tr>
                  <td rowspan="2">2018</td>
                  <td>Springer</td>
                  <td>One-tip Secure: Nex-gen of Text-Based Passwords</td>
                </tr>
                <tr>
                  <td colspan="2">Key skills developed include Android Development, Firmware Development</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <script src="/js/collapsible.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>